@model ProductViewModel

@using X.PagedList.Mvc.Core;
@using X.PagedList.Mvc.Common;
@using X.PagedList;

@{
    ViewData["Title"] = "Продукти";
}

<div class="row mt-3">
    <div class="col-md-12 mb-3">
        <div class="section-title">
            <h2>Продукти</h2>
        </div>
    </div>
    @foreach (var product in Model.ProductAllIndexViewModel)
    {
        <div class="col-md-4">
            <div class="post">
                <a class="post-img img-thumbnail" href="/Product/Details/@product.Id"><img src="@product.Picture" alt=""></a>
                <div class="post-body">
                    <div class="post-meta">
                        <a class="post-category" href="">@product.ProductType</a>
                        <span id="productAllPrice" class="post-date">@product.Price.ToString("f2") лв</span>
                    </div>
                    <h5 class="post-title"><a href="/News/Details/@product.Id">@product.Name</a></h5>
                </div>

            </div>
        </div>
    }
</div>

<div class="mt-3 d-flex justify-content-around">
    @Html.PagedListPager((IPagedList)Model.ProductAllIndexViewModel, page => Url.Action("All",
                                            new
                                                {
                                                    PageNumber = page,
                                            }),
                                            new PagedListRenderOptions
                                            {
                                                MaximumPageNumbersToDisplay = 3,
                                                LiElementClasses = new string[] { "page-item" },
                                                PageClasses = new string[] { "page-link" }
                                            })
</div>