@model StrumskaSlava.Web.ViewModels.Product.Details.ProductDetailsViewModel

@{
    ViewData["Title"] = "Продукт";
}

<div class="d-flex justify-content-center mt-3">
    <h3 class="text-center">@Model.Name</h3>
</div>
<div class="d-flex justify-content-between row mt-3">
    <div class="col-md-5">
        <img src="@Model.Picture" class="img-thumbnail" />

    </div>
    <div class="album-tracks col-md-6">
        <h3 class="text-center">Описание</h3>
        <p>@Model.Description</p>
        <hr />
        <h1 class="text-center">Цена: @Model.Price</h1>
        <hr />
        <div class="d-flex justify-content-start">
            @if (!this.User.Identity.IsAuthenticated)
            {
                <a class="btn bg-primary text-white" href="/Identity/Account/Login">Поръчай</a>
            }
            @if (this.User.Identity.IsAuthenticated)
            {
                <button class="btn btn-primary text-white font-weight-bold mr-1" data-toggle="modal" data-target="#orderModal">Поръчай</button>
            }
            @if (this.User.Identity.IsAuthenticated && this.User.IsInRole("Admin"))
            {
                <a class="btn bg-primary text-white mr-1" href="/Administration/Product/Edit/@Model.Id">Редактирай</a>
                <a class="btn bg-danger text-white mr-1" href="/Administration/Product/Delete/@Model.Id">Изтрий</a>
            }
        </div>
    </div>
</div>
<hr />

<div class="modal fade" id="orderModal" tabindex="-1" role="dialog" aria-labelledby="orderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="orderModalLabel">@Model.Name</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="order-form" action="/Product/Order" method="post">
                    <div class="form-group">
                        <label for="quantity" class="col-form-label font-weight-bold">Количество</label>
                        <input type="number"
                               class="form-control"
                               id="quantity"
                               name="quantity"
                               min="1"
                               value="1">
                        <input type="hidden" value="@Model.Id" name="productId" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Затвори</button>
                <button type="button" class="btn btn-primary" id="complete-order-button">Поръчай</button>
            </div>
        </div>
    </div>
</div>

<script>
    $('#complete-order-button').click(function () {
        $('#order-form').submit();
    });
</script>
